<div class="container">
  <h3>For bookings or band information, please send us an e-mail or Facebook message.</h3>

<!-- E-mail: Amodernmythva@gmail.com

Facebook: www.facebook.com/amodernmythva -->

If you want to get in touch with us for booking, information or just to say hello, feel free to email us at riversandrobots@gmail.com.

You could also follow us on Twitter @riversandrobots or like our page on Facebook, and get in touch with us on there!
</div>