<div class="black-bg">
  <div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
      <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
          <li>
            <a href="#">Home</a>
          </li>
          <li>
            <a href="/band">Band</a>
          </li>
          <li>
            <a href="http://amodernmyththeband.bandcamp.com/" target="_blank">Music</a>
          </li>
          <li>
            <a href="/photos">Photos</a>
          </li>
          <li>
            <a href="/shows">Shows</a>
          </li>
          <li>
            <a href="/contact">Contact</a>
          </li>
        </ul>
      </div>
    </div>
  </div>